<% if current_user.favorited_by?(chocolate['itemCode']) %>
<div class="like">
  <%= link_to  chocolate_favorites_path(chocolate_id: chocolate["itemCode"]), class: "fas fa-thumbs-up iine",method: :delete, remote: true do %><% end %>
</div>
<div class="iine-count">
  いいねの数 <%= Favorite.where(item_code: chocolate["itemCode"]).count %>個
</div>

<% else %>
<div class="like">
  <%= link_to chocolate_favorites_path(chocolate_id: chocolate["itemCode"]), class: "far fa-thumbs-up iine", method: :post, remote: true do %><% end %>
</div>
<div class="iine-count">
  いいねの数 <%= Favorite.where(item_code: chocolate["itemCode"]).count %>個
</div>

<% end %>