<% if current_user.favorited_by?(chocolate["Items"][0]["Item"]["itemCode"]) %>		 
 
  <%= link_to  chocolate_favorites_path(chocolate_id: chocolate["Items"][0]["Item"]["itemCode"]), class: "fas fa-thumbs-up" ,method: :delete, remote: true do %>
  <% end %>

<% else %> 
 
  <%= link_to chocolate_favorites_path(chocolate_id: chocolate["Items"][0]["Item"]["itemCode"]), class: "far fa-thumbs-up", method: :post, remote: true do %>
  <% end %>  

<% end %>

<div>
  いいねの数
  <%= Favorite.where(item_code: @chocolate["Items"][0]["Item"]["itemCode"]).count %>
</div>