<div class="container">
	<div class="row">
		<div class="comment-search col-xs-12">
			<%= render 'comments/search' %>
		</div>
		<% @comments.each do |comment| %>
		<div class="comment-all">
			<div class="row comment-box">
				<div class="comment col-xs-12 col-md-12">
					<div class="row">
						<div class="comment-body col-xs-6">
							<%= comment.content %>
						</div>
						<div class="comment-avatar col-xs-3 col-md-12">
						  <div class="avatar col-xs-12 col-xs-12">
								<%= link_to(comment.user) do %>
								<%= attachment_image_tag comment.user, :profile_image,  size:'110x110', format: 'jpeg', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" , size:'110x110' %>
								<% end %>
							</div>
							<div class="comment-author col-xs-12 col-xs-12">
								<%= link_to comment.user.name,user_path(id: "comment.user_id") %>
							</div>
						</div>
						<div class="comment-meta col-xs-2">
						  <div>
							  <span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
							</div><br>
							<div class="comment-destroy">
							 <% unless current_user != comment.user %>
								<%= link_to comments_path(comment.id), method: :delete, remote: true  do %>
								<button class="btn btn-danger">コメント削除</button><% end %> 	
							 <% end %>
							</div>
						</div>
					</div>		
				</div>
			</div>
    </div>
	

		<div class="item-info">
			<div class="row">
			<div class="col-xs-10">
				<div class="row">
				<div class="item-image col-xs-3">
					<%= image_tag(@image[comment.item_code].present? ? @image[comment.item_code] : "/assets/no_image.jpg", style: "width: 80px;height: 70px;display: inline-block;") %>
				</div>
				<div class="item-name col-xs-6">
					<%= @name[comment.item_code].present? ? @name[comment.item_code] : "商品名がありません" %>
				</div>
				</div>
			</div>		
			</div>
		</div>
    <% end %>
  </div>
</div>