<%= render 'admin/admin_header' %>
<div class="col-md-8 col-md-offset-2">
<h2>商品 詳細画面</h2>
	<h3>商品<%= @chocolate.name %></h3>
    <h3>商品説明<%#= @chocolate.text %></h3>
   
    <h3>税込価格（税抜価格）<%= @chocolate.price %>(<%= @chocolate.price %>)円</h3>
    
    <%#= attachment_image_tag @chocolate, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <%#= link_to "編集する",edit_admin_chocolate_path(@chocolate), class: "btn btn-primary" %>
</div>