<main role="main">
  <div class="">
    <div class="about-container">
      <h3 class="display-1">ChoCo BoXへようこそ!</h3>
      <div class="about-content1">
      <p class="about-content2">このアプリはチョコレートを愛してやまないチョコオタクのみなさまに、おいしさ、ヘルシーさ、コスパの３点から評価してもらおうという思いから誕生しました。</p>
      <p class="about-content2">楽天市場の売れ筋ランキングをはじめとするさまざまなランキングから、あなたの理想のチョコレートや知らないチョコレートを見つける手助けができるはずです。</p>
      <p class="about-content2">あなたにピッタリのチョコレートが見つかることを心より願っております。</p>
      </div>
      <p class="start-button">
        <%= link_to "ChoCoBoXメンバーに登録する", new_user_registration_path ,class: "btn start-button chocobox-start" %>
      </p>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="about-title">見つけやすい</h3><br>
        <ul class="about-text">
          <li>楽天市場の人気順にチョコレートを探すことができたり、自分の好きなキーワードを使っての検索ができます。</li>
          <li>いま流行のチョコレートは何なのか？</li>
          <li>高級チョコってどんな味なのか？</li>
          <li>そんな疑問にもお答えできます。</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="about-title">３つの点で評価</h3><br>
        <ul class="about-text">
          <li>おいしさ・健康・コスパの3点から口コミを投稿できます。</li>
          <li>ヘルシーさを重視したい人</li>
          <li>おいしさを重視したい人</li>
          <li>それぞれの観点からランキングで見つけられます。</li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="about-title">いいね・フォローができる</h3><br>
        <ul class="about-text">
          <li>口コミサイトならではのフォロー機能やお気に入り一覧を見ることができます。</li>
          <li>あなたの好きな人やお気に入りのチョコレートをいつでも確認できます。</li>
          <li>他の人のお気に入りチョコレートや</li>
          <li>フォロワーを見ながら、人気会員を見つけてください。</li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
</main>
