<main role="main">
  <div class="jumbotron">
    <div class="about-container">
      <h3 class="display-1">ChoCo BoXへようこそ!</h3>
      <div class="about-content1">
      <p>このアプリはチョコレートを愛してやまないチョコオタクのみなさまに、おいしさ、ヘルシーさ、コスパの３点から評価してもらおうという思いから誕生しました。</p>
      <p>楽天市場の売れ筋ランキングをはじめとするさまざまなランキングから、あなたの理想のチョコレートや知らないチョコレートを見つける手助けができるはずです。</p>
      <p>あなたにピッタリのチョコレートが見つかることを心より願っております。</p>
      </div>
      <p class="start-button">
        <%= link_to "ChoCoBoXメンバーに登録する", new_user_registration_path ,class: "btn start-button chocobox-start" %>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>チョコ豆知識①</h3>
        <p>ロマリンダ大学<br>  
        リー・バーク博士の実験</p>
        <p>「方法」</p>
        <p>48gのダークチョコレートを食べる（カカオ70％）30分後と120分後に脳波計で参加者を計測</p>
        <p>「結果」</p>
        <p>脳の活動が活発になり、脳の健康に関わるエリアのニュープラスティシティが向上</p>
        <br>
        <p>＊ニューロプラスティシティは「神経の柔軟性」のことです。新しい体験をちゃんと学習できるのもこの機能のおかげです。</p>
      </div>
      <div class="col-md-4">
        <h3>チョコ豆知識②</h3>
        <p>BMJに掲載された論文<br>  
        405,304人分のデータを使ったメタ分析</p>
        <p>「方法」</p>
        <p>1週間に20gのダークチョコレートを食べる</p>
        <p>「結果」</p>
        <p>脳の活動が活発になり、脳の健康に関わるエリアのニュープラスティシティが向上</p>
        <br>
        <p>＊ニューロプラスティシティは「神経の柔軟性」のことです。新しい体験をちゃんと学習できるのもこの機能のおかげです。</p>
      </div>
      <div class="col-md-4">
        <h3>チョコ豆知識①</h3>
        <p>ロマリンダ大学<br>  
        リー・バーク博士の実験</p>
        <p>「方法」</p>
        <p>48gのダークチョコレートを食べる（カカオ70％）30分後と120分後に脳波計で参加者を計測</p>
        <p>「結果」</p>
        <p>脳の活動が活発になり、脳の健康に関わるエリアのニュープラスティシティが向上</p>
        <br>
        <p>＊ニューロプラスティシティは「神経の柔軟性」のことです。新しい体験をちゃんと学習できるのもこの機能のおかげです。</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
