  <section class="fullwidth-block area-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="single-blog">
                        <div class="thumb">   
                          <%= image_tag '日焼けどめ.jpg' %>
                      
                        <div class="short_details short_details_choco">
                            <div class="d-block">
                          
                            <h1 class="title title1">チョコレートの健康効果</h1>
                                <h3 class="title">美味しさ, 健康, コスパ</h3>
                                <h3 class="title">３点からあなたの求めている</h3>
                                <h3 class="title">チョコレートを探せます</h3>
                            </div>
                        </div>
                        </div>
                    </div>    
                </div>
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="single-blog">
                        <div class="thumb">
                          <%= image_tag "勉強.jpg"%>
                        
                        <div class="short_details short_details_kutikomi">
                            <div class="icon">
                           </div>
                            <div class="d-block">                     <h1 class="title title1">リアルな口コミ</h1>
                              <h5 class="title">チョコ好きの人たちが本音で語ります</h5>
                            </div>
                            <div class="meta-bottom d-flex justify-content-center">
                              
                            </div>
                        </div>
                        </div>
                    </div>    
                </div>
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="single-blog">
                        <div class="thumb">
                            <%= image_tag "子供.jpg"%>
                        
                        <div class="short_details short_details_ranking">
                            <div class="d-block">       
                                <h1 class="title title1">ランキング&検索機能</h1>
                                <h5 class="title">あなたの知らないチョコを見つけられるかも！</h5>
                            </div>
                        </div> 
                        </div>
                    </div>   
                </div>
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="single-blog">
                        <div class="thumb">
                            <%= image_tag "face.jpg"%>
                        
                        <div class="short_details short_details_meigen">
                            <div class="d-block">       
                                <h3 class="title title1">チョコレート名言集</h3>
                                <a class="title">気になる方はこちらをクリック</a>
                            </div>
                       </div>
                       </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>