/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 /*
 *= require toastr
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap"; 
@import "font-awesome-sprockets";
@import "font-awesome";

// フォント
@font-face {
  font-family: "名前";
  src: url('font.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "チョコ";
  src: url('themify.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "soft";
  src: url('soft.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "frat";
  src: url('Fraticon.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




// ヘッダー
header {
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100px;
  }
.chocobox-logo{
  text-align: center;
  margin-left: 60px;
}

// TOPページ
.single-blog {
  transition: all 300ms linear 0s;
  position: relative; }
  .single-blog .thumb {
    
    width: 90%;
    margin: 10px;
    overflow: hidden; }
    .single-blog .thumb img {
      filter: opacity(55%);
      width: 100%;
      object-fit: cover;
      }
  .single-blog .short_details {
    font-family: "soft";
    background: transparent;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
      }
  .single-blog .short_details_kutikomi {
    top: 60%;
    left: 40%;
      }
  .single-blog .short_details_ranking {
    top: 55%;
    left: 50%;  
      }
  .single-blog .short_details_meigen {
    top: 60%;
    left: 45%;
      }
    
  .single-blog .short_details .d-block {
    font-family: "soft";
    // background: transparent;
    // transition: all 300ms linear 0s;
    position: absolute;
    // bottom: 0;
    right: 40px;
    width: 80%;
    padding-bottom: 40px;
     }
  .single-blog .short_details .a-block {
    font-family: "soft";
    // background: #fff;
    // transition: all 300ms linear 0s;
    position: absolute;
    bottom: 0;
    // right: 0;
    // width: 70%;
    padding: 20px;
   }
   .title {
    font-weight: 100;
    font-size: 15px;
    
    }
  .title1 {
    font-size: 25px;
    }



.menu-trigger {
  font-family: "soft";
  position: fixed;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}



/* TOPに戻る矢印 */

#back {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
}

/* マウスの形を変える */

.yubi {
  cursor: pointer;
}

/* ハンバーガーメニュー */

#hm-icon {
  position: relative;
  right: 0px;
  top: 10px;
  z-index: 10;
}
#chocobox-logo {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 10;
}
#chocobox-text {
  position: relative;
  top: 10px;
  z-index: 10;
}

.menu-trigger {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;

  span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 20px;
    }

    &:nth-of-type(3) {
      bottom: 0;
    }
  }

  position: relative;
  width: 50px;
  height: 44px;

  &.active span {
    &:nth-of-type(1) {
      -webkit-transform: translateY(20px) rotate(-45deg);
      transform: translateY(20px) rotate(-45deg);
      background-color: #fff;
    }

    &:nth-of-type(2) {
      opacity: 0;
    }

    &:nth-of-type(3) {
      -webkit-transform: translateY(-20px) rotate(45deg);
      transform: translateY(-20px) rotate(45deg);
      background-color: #fff;
    }
  }

  &:not(.active):hover span {
    &:nth-of-type(1) {
      top: 6px;
    }

    &:nth-of-type(3) {
      bottom: 6px;
    }
  }

  &.active span {
    &:nth-of-type(1) {
      -webkit-transform: translateY(20px) rotate(-45deg);
      transform: translateY(20px) rotate(-45deg);
    }

    &:nth-of-type(2) {
      opacity: 0;
    }

    &:nth-of-type(3) {
      -webkit-transform: translateY(-20px) rotate(45deg);
      transform: translateY(-20px) rotate(45deg);
    }
  }
}

/* マウスを載せた後の動き */

/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */

#sp-menu {
  font-family: "soft";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9; 
  overflow-y: auto;
   -webkit-overflow-scrolling: touch;

  li {
    text-align: center;
    margin-bottom: 30px;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}
// ログイン画面
.main-visual {
  
  display: flex;
  width: 100%;
  height: 80vh;
  background-image: image-url('background-choco.jpg');
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.form-body{
  font-family: "soft";
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 20px 20px ;
  
}

// フッター
ul{
  list-style: none;
}

.footer .container a{
  color: white;
}
.footer {
  background-color: #333;
  color: #fff;
  padding-top: 15px;
  padding-bottom:0 ;
  bottom: 0;
  margin-top: 20px ;
  height: 150px;
}
// サインアップ 画面
.sign_up-visual {
  font-family: "soft";
  display: flex;
  width: 100%;
  height: 80vh;
  background-image: image-url('sign_up-choco.jpg');
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.sign_up-body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 20px 20px ;
}
.actions{
  margin: 20px;
  text-align: center;
}

// ユーザー一覧
.users{
  text-align: center;
}

// ユーザ詳細画面
.follow-button{
  margin-left: 10px;
  margin-bottom: 20px;
}
.table{
  font-family: "soft";
  margin: 10px 50px;
  text-align: center;
}

// 楽天市場ランキング商品一覧

.rakuten_ranking{
  font-family: "soft";
  height: auto;
  background-color:rgba(243, 235, 240, 0.932);
  border: #fff 5px solid;
  padding: 10px;
  text-align: center;
}
// いいねランキング
.favo-ranking{
  font-family: "soft";
  width: 320px;
  background-color:rgba(243, 235, 240, 0.932);
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
}
.container{
  font-family: "soft";
}

.favo_image {
  text-align: center;
}

.choco_price{
  font-size: 1.3em;
}


// コメント一覧
.card-comment{
  height: 900px;
  margin-bottom: 100px;
  
}

.comment-item-name{
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 60px;
  height: 190px;
 
}

.comment-image{
  margin-bottom: 30px;
}

.comment-areas{
  margin-bottom: 30px;
  padding: auto auto;
  height: 130px;
}

.card-comment{
  margin-bottom: 40px;
}

.comment-author{
  text-align: center;
  margin: auto auto;
}
.kutikominaiyou{
  margin-left: 50px;
  
}
.avatar{
  margin-left: 50px;
}
.comment-date{
  margin: 10px auto;

}

.comment-delete{
  margin-bottom: 0;
  margin-right: 0;
}

.kutikomi-ranking{
  font-family: "soft";
  text-align: center;
  height: 600px;
  margin-bottom: 60px;
}
.kutikomi-ranking{
  margin-bottom: 30px;
}
.oisiichoco-name{
  margin: 20px auto;
}

// おいしさ健康コスパチャート
.chart-ranking{
  width: 350px;
  height: 350px;
  padding-left: 100px;

}
// 商品詳細ページ
.kutikomitoukou{
  margin-bottom: 30px;
  margin-top: 30px;
}
// お気に入りランキング
.favo{
  margin-top: 40px;
}

.heikin{
  text-align: center;
  margin: auto 0;
  
  .average{
    padding-bottom: 5px;
  }
  .ave{
    margin-right: 0;
  }
  .value{
   padding-left: 0;
  }
}
// コメント一覧
.comment-date{
  margin: 10px auto;
  text-align: center;
}

.comment-user{
  text-align: center;
}

.title{
  font-size: 18px;
}

.comment{
  font-size: 15px;
}

.comment-avatar{
  padding-left: 30px;
}

.date{
  padding-left: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.hyouka{
  margin: 10px auto;
}

.text{
  font-size: 10px;
  font-weight: lighter
}

.comment-delete{
  position: relative;

  .delete{
    position: absolute;
    bottom: 0;
  }
}

// ユーザー一覧

.users{
  margin: 20px 0 ;
  
 
  
}

.users-profile {
  margin: 10px 0;

  border-bottom: solid 1px #0f0d0f;
}

.user-nickname{
  margin: 30px 0;
  font-size: large;
}

.profile{
  margin-top: 25px;
}

// チョコサーチ
.chocosearch{
  text-align: center;
  margin: 15px auto;
}

.search{
  text-align: center;
  margin: 15px auto;
}

.search-box{
  text-align: center;
}

.search{
  margin: 10px 0;

}

.searches{
  margin: 10px 0;
}

.choco-image{
  text-align: center;
}