<% if items.present? %>
  <% items.each do |good| %>
    <div class="list">
    <% if good.medium_image_urls[0] %>
      <%= link_to (image_tag(good.medium_image_urls[0], style: "width: 120px;height: 100px;display: inline-block;")) %>
    <%end%></br>

      <%= good.name %>

      ¥<%= good.price %>

      <% good.tag_ids[0] %>

      <%= button_to "商品登録", {controller: :chocolate, action: :create}, {method: :get, :class => "btn btn-light",
              params: {rakuten_chocolate_name_url: good.name, medium_image_url: good.medium_image_urls[0], price: good.price}} %>
    </div>
  <% end %>
<% end %>