<section class="jumbotron text-center">
  <div class="container">
    <!-- <h1 class="jumbotron-heading">Album example</h1> -->
    <h1 class="jumbotron-heading">おいしさ評価の高いチョコレートを見てみよう！</h1>

    <p class="lead text-muted">口コミはあくまで感想! 自分の舌で確かめることが大事です!!</p>
    <p>
     <%= link_to "健康ランキングはこちら", healthy_ranking_chocolates_path,class: "btn btn-warning my-2"%>
     <%= link_to "コスパランキングはこちら", cost_performance_ranking_chocolates_path ,class: "btn btn-info my-2"%>
    </p>
  </div>
</section>
  <div class="container ranking">
    <%= render 'chocolates/taste_ranking', choco: @chocolate, items: @items, item_code: @item_code %>
    <div>
      <% if @items.present? %>
      <%= paginate @items %>
      <% end %> 
	  </div>
  </div>
</div>
</div>